name: bachelor-thesis-2026
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.11
  - pip
  - pandas
  - numpy
  - matplotlib
  - requests
  - tqdm
  - pip:
      - ipykernel
      - torch
      - torchvision
      - torchaudio
      - patool
